In [1]:
import pandas as pd
import os

In [2]:
file_to_load = "Cleaned Drilling Parameters.csv"
df = pd.read_csv(file_to_load)

In [3]:
df

,Well Name,Bit RPM (RPM),Bit Torque (kft_lb),Depth of Cut (in),Gamma (api),Mechanical Specific Energy (ksi),On Bottom ROP (ft_per_hr),Rotary RPM (RPM),Total Pump Output (gal_per_min),Weight on Bit (klbs)
0,Well 1,260,4,0.137,88.5000,38.9,177.00,85.08,701.51,17.7
1,Well 1,261,4,0.137,89.8977,36.8,176.27,85.11,703.64,15.2
2,Well 1,273,3,0.135,94.5810,36.5,175.15,97.54,702.93,15.9
3,Well 1,283,3,0.126,108.7356,36.8,175.38,107.79,702.82,16.6
4,Well 1,281,3,0.126,110.4894,36.7,175.38,105.38,702.87,17.2
...,...,...,...,...,...,...,...,...,...,...
24325,Well 5,281,2,0.158,132.4320,18.7,220.72,107.84,695.24,25.1
24326,Well 5,283,2,0.152,113.9659,19.2,215.03,107.20,704.66,24.2
24327,Well 5,283,3,0.148,113.1624,25.3,209.56,107.06,703.23,28.4
24328,Well 5,282,3,0.144,103.2852,31.3,202.52,107.26,699.86,31.8
24329,Well 5,284,4,0.138,100.8332,38.1,193.91,107.17,707.40,34.9

In [6]:
from sqlalchemy import create_engine

from config import db_password

db_string = f"postgresql://postgres:{db_password}@drillingdb.ctj1j4zyhkp1.us-east-2.rds.amazonaws.com:5432/postgres"

engine = create_engine(db_string)

In [8]:
df.to_sql(name='wells', con=engine)

In [ ]:
pd.read_sql('wells', con=engine)